<%- include('./partials/header') %> 

<div class="title-container">
    <div id="center-title">    
        <h1>Let's Get Brewing</h1>
        <p>Hold my beer is designed for record keeping of your home brew recipes. It also allows you to browse the recipes of others and make comments on what you like about it or what you think may help with results.</p>
    </div>
</div>
<%- include('./partials/footer') %>