*{
  box-sizing: border-box;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-image: url('../images/beer-background.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
  background: grey;
  height: 100vh;
  text-align: center;
}
header{
  background-color: goldenrod;
  height: 10vh;
}
#create-form{
  text-align: left;
  width: 65%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
}