*{
  box-sizing: border-box;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-image: url('../images/beer-background.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
  background: slategray;
  height: 100vh;
  margin: 0;
  text-align: center;
}
p{
  margin: 0;
}
#update{
  display: none;
}
#create{
  display: block;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Show Recipe Styling */
#show-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
#show-recipe{
  text-align: left;
  grid-column: 2/3;
  justify-self: center;

}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* User Page Styling */
#user-recipe-card{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: 2px outset;
  background-color: white;
  margin: 10px 0px;
  padding: 3px;
  height: 10%;
  width: 35%;
  align-items: center;
  border-radius: 5%;
  text-align: left;
  box-shadow: 3px 3px goldenrod;
  gap: 1px;
}

#user-recipe-card #card-name{
  grid-column: 1/ span 2;
}
#user-recipe-card form{
  grid-row: 2/2;
}
#user-recipe-card a{
  grid-row: 2/2;
  grid-column: 2/2;
  align-self: start;
  border: 1px solid grey;
  background-color: #eaeaea;
  color: black;
  text-align: center;
  padding: 2px;
}
#user-recipe-title{
  border-bottom: 2px solid black;
  padding-top: 20px;
  width: 75%;
  font-size: 300%;
  align-self: center;
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
}
#user-page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}
#profile-container{
  grid-column: 3/3;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  font-size: 3vw;
}
#profile-container img{
  border-radius: 50%;
  height: 15vw;
}
#user-recipe-container{
  grid-column: 1/ span 2;
  grid-row: 1/ span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-self: center;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Recipe Index Styling */
#index-header{
  grid-column: 1 / span 3;
  display: inline-block;
  border-bottom: 2px solid black;
  text-align: center;
  justify-self: center;
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
}
#recipe-index-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
}
#recipe-index-container form{
  grid-column: 1 / span 3;
  padding-top: 3px;
}
#recipe-index-container h1{
  margin: 0;
  padding-top: 20px;
 
}
#recipe-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-column: 1 / span 3;
  padding-top: 20px;
  display: flex;
} 
#recipe-card{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 2px outset;
  background-color: white;
  margin: 10px;
  padding: 3px;
  height: 35%;
  width: 30%;
  align-items: center;
  border-radius: 5%;
  text-align: left;
  box-shadow: 3px 3px goldenrod;
}
#recipe-card a{
  border: 1px solid black;
  color: black;
  background-color:goldenrod;
  border-radius: 5%;
  box-shadow: 1px 1px goldenrod;
  padding: 2px;
}
#recipe-card div{
  font-size: 2.5vw;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
#recipe-card p{
  padding: 5px;
}
#card-name{
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid black;
  text-align: center;
}
#card-link{
 text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/* Partial header Styling */
header{
  background-color: goldenrod;
  height: 12vh;
  width: 100vw;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr auto;
  border-bottom: 2px solid black;
}
ul li{
  font-size: 2vw;
}
header h1{
  margin: 0 auto;
  font-size: 8vw;
  grid-row: 1 / span 2;
  align-self: center;
  word-wrap: break-word;
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
}
.nav{
  grid-row: 2/3;
  grid-column: 2/3;
  font-weight: bolder;
 }
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Home Page Styling */
.title-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}
#center-title{
  grid-row: 1 / span 2;
  grid-column: 2/3;
  text-align: center;
  align-self: center;
}

#create-form{
  text-align: left;
  width: 65%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
}
