<%- include('../partials/header') %> 
    <h1>Update your Bio</h1>
    <form action="/users/<%= user.id%>?_method=PUT" method="POST">
        <textarea name="bio" id="" cols="20" rows="5">

        </textarea>
        <button type="submit">Submit</button>
    </form>

<%- include('../partials/footer') %>